package core

type Env struct {
	ServerAddress string
	ServerRunAddress string
	MysqlConfig   MysqlConfig
}

type MysqlConfig struct {
	Dsn string
}

type SmtpConfig struct {
	Server   string
	Port     string
	Email    string
	Password string
}

var EmailConfig = SmtpConfig{Server: "smtp.qq.com", Port: "587", Email: "example@qq.com", Password: "password"}

var Config = Env{
	ServerAddress: "http://localhost:8080",
	ServerRunAddress: ":8080",
	MysqlConfig:   MysqlConfig{Dsn: "user:password@tcp(host:port)/database?charset=utf8mb4&parseTime=True&loc=Local"},
}
